celery_processes:
  {{ celery_host.name }}:
    beat: {}
    sms_queue: {}
    flower: {}
    background_queue,case_rule_queue,celery,analytics_queue,case_import_queue:
      concurrency: 1
    email_queue,reminder_case_update_queue,export_download_queue,linked_domain_queue,malt_generation_queue:
      concurrency: 1
    reminder_rule_queue,repeat_record_queue,saved_exports_queue:
      concurrency: 1
#	reminder_queue:
#	  concurrency: 1
#	submission_reprocessing_queue
#	  concurrency: 1
#	ucr_indicator_queue,ucr_queue,celery_periodic:
#	  concurrency: 1
pillows:
  {{ pillowtop_host.name }}:
    kafka-ucr-main:
      num_processes: 1
#    kafka-ucr-static:
#      num_processes: 1
#    AppDbChangeFeedPillow:
#      num_processes: 1
#    ApplicationToElasticsearchPillow:
#      num_processes: 1
#    CacheInvalidatePillow:
#      num_processes: 1
#    CaseSearchToElasticsearchPillow:
#      num_processes: 1
#    CaseToElasticsearchPillow:
#      num_processes: 1
#    DefaultChangeFeedPillow:
#      num_processes: 1
#    DomainDbKafkaPillow:
#      num_processes: 1
#    FormSubmissionMetadataTrackerPillow:
#      num_processes: 1
#    GroupPillow:
#      num_processes: 1
#    GroupToUserPillow:
#      num_processes: 1
#    KafkaDomainPillow:
#      num_processes: 1
#    LedgerToElasticsearchPillow:
#      num_processes: 1
#    ReportCaseToElasticsearchPillow:
#      num_processes: 1
#    ReportXFormToElasticsearchPillow:
#      num_processes: 1
#    SqlSMSPillow:
#      num_processes: 1
#    UnknownUsersPillow:
#      num_processes: 1
#    UpdateUserSyncHistoryPillow:
#      num_processes: 1
#    UserCacheInvalidatePillow:
#      num_processes: 1
#    UserGroupsDbKafkaPillow:
#      num_processes: 1
#    UserPillow:
#      num_processes: 1
#    XFormToElasticsearchPillow:
#      num_processes: 1
