secrets:
  ECRYPTFS_PASSWORD: '{{ generate_password() }}'
  KSPLICE_ACTIVATION_KEY:
  DATADOG_API_KEY: null
  DATADOG_APP_KEY: null
  AMQP_USER: "{{ deploy_env }}_worker"
  AMQP_PASSWORD: '{{ generate_password() }}'
  HAPROXY_STATS_PASSWORD: '{{ generate_password() }}'
  SUPERVISOR_HTTP_USERNAME: 'supervisor_http'
  SUPERVISOR_HTTP_PASSWORD: '{{ generate_password() }}'
  POSTGRES_USERS:
    commcare:
      username: 'commcarehq'
      password: '{{ generate_password() }}'
    devreadonly:
      username: 'devreadonly'
      password: '{{ generate_password() }}'
      role_attr_flags: 'NOSUPERUSER,NOCREATEROLE,NOCREATEDB'
      privs:
        -
          privs: SELECT
          objs: ALL_IN_SCHEMA
    replication:
        username: 'hqrepl'
        password: '{{ generate_password() }}'
        role_attr_flags: 'LOGIN,REPLICATION'

localsettings_private:
  BANK_ACCOUNT_NUMBER:
  BANK_ROUTING_NUMBER_ACH: ''
  BANK_ROUTING_NUMBER_WIRE: ''
  BOOKKEEPER_CONTACT_EMAILS: []
  COUCH_USERNAME: 'commcarehq'
  COUCH_PASSWORD: '{{ generate_password() }}'
  BITLY_OAUTH_TOKEN: ''
  DROPBOX_KEY: ''
  DROPBOX_SECRET: ''
  FORMPLAYER_INTERNAL_AUTH_KEY: '{{ generate_password() }}'
  EMAIL_LOGIN: ''
  EMAIL_PASSWORD: ''
  GMAPS_API_KEY: ''
  GOOGLE_ANALYTICS_API_ID: ''
  HUBSPOT_API_ID: ''
  HUBSPOT_API_KEY: ''
  JAR_KEY_PASS: ''
  JAR_STORE_PASS: ''
  SECRET_KEY: '{{ generate_password() }}'

ansible_sudo_pass: '{{ generate_password() }}'
