terraform {
  backend "s3" {
    bucket  = {{ state_bucket|tojson }}
    key     = "state/{{ environment }}.tfstate"
    region  = {{ state_bucket_region|tojson }}
    encrypt = true
  }
  required_version = "~> 0.12.0, <= 0.12.31"
}

provider "aws" {
  version = "~> 3.22"
  region  = {{ region|tojson }}
}

provider "archive" {
  version = "2.1.0"
}

// for global accelerator which can only be configured in us-west-2
provider "aws" {
  alias = "us-west-2"
  region = "us-west-2"
}

variable "rds_password" {
  type = string
}
