source = "./modules/commcarehq"
region = {{ region|tojson }}
environment = {{ environment|tojson }}
azs = {{ azs|tojson }}
az_codes = {{ az_codes|tojson }}
vpc_begin_range = {{ vpc_begin_range|tojson }}
dns_domain = ""
# Set the DNS Domain name to be used (should match the name for the Zone ID)
dns_zone_id = ""
# Select the correct DNS Zone ID from Route 53
internal_ssl_cert_arn = ""
# This will be used to reference SSL Certificate in AWS Certificate Manager

vpn_connections = [
{%- for vpn_connection in vpn_connections %}
  {
    name = {{ vpn_connection.name|tojson }}
    cidr_blocks = {{ vpn_connection.cidr_blocks|tojson }}
    ip_address = {{ vpn_connection.ip_address|tojson }}
    type = {{ vpn_connection.type|tojson }}
    bgp_asn = {{ vpn_connection.bgp_asn|tojson }}
    amazon_side_asn = {{ vpn_connection.amazon_side_asn|tojson }}
  },
{%- endfor %}
]
vpn_connection_routes = [
{%- for vpn_connection in vpn_connections %}
  {% set vpn_connection_index = loop.index0 %}
  {%- for cidr_block in vpn_connection.cidr_blocks %}
  {
    vpn_connection_index = {{ vpn_connection_index|tojson }},
    destination_cidr_block = {{ cidr_block|tojson }}
  },
  {%- endfor %}
{%- endfor %}
]
external_routes = [
{%- for external_route in external_routes %}
  {
    cidr_block = {{ external_route.cidr_block|tojson }}
    gateway_id = {{ external_route.gateway_id|tojson }}
  },
{%- endfor %}
]

key_name = {{ key_name|tojson }}

proxy_servers = [
{%- for server in proxy_servers %}
  {
    server_name = {{ server.server_name|tojson }}
    server_instance_type = {{ server.server_instance_type|tojson }}
    network_tier = {{ server.network_tier|tojson }}
    az = {{ server.az|tojson }}
    volume_size = {{ server.volume_size|tojson }}
    volume_encrypted = {{ server.volume_encrypted|tojson }}
  },
{%- endfor %}
]

account_alias = {{ (account_alias or "")|tojson }}
