variable "region" {}
variable "environment" {}
variable "azs" {
  type = list
}
variable "az_codes" {
  type = list
}
variable "vpc_begin_range" {}

# OptInRequired: In order to use this AWS Marketplace product you need to accept terms and subscribe.
# To do so please visit http://aws.amazon.com/marketplace/pp?sku=3ihdqli79gl9v2jnlzs6nq60h
variable "openvpn_image" {
  default = ""  # will be auto-assigned by openvpn module if not set
}
variable "openvpn_instance_type" {
  default = "t2.small"
}
variable "openvpn_az" {
  default = "a"
}

data "aws_ami" "ubuntu_pro_bionic" {
  // should match what is on
  // https://aws.amazon.com/marketplace/server/configuration?productId=fc15dd7b-2aa0-47e5-bb05-94c75950b5de
  // (Product detail: https://aws.amazon.com/marketplace/pp/B0821T9RL2)
  most_recent = true

  filter {
    name   = "name"
    values = ["ubuntu-pro/images/hvm-ssd/ubuntu-bionic-18.04-amd64-server-*"]
  }

  filter {
    name   = "virtualization-type"
    values = ["hvm"]
  }

  owners = ["679593333241"] # Amazon Web Services
}


data "aws_ami" "ubuntu_bionic" {
  # Should match what is in
  # https://cloud-images.ubuntu.com/locator/ec2/
  # with search hvm:ebs-ssd bionic amd64

  most_recent = true

  filter {
    name   = "name"
    values = ["ubuntu/images/hvm-ssd/ubuntu-bionic-18.04-amd64-server-*"]
  }

  filter {
    name   = "virtualization-type"
    values = ["hvm"]
  }

  owners = ["099720109477"] # Canonical
}


variable "server_image" {
  # Use 'hvm:ebs-ssd' AMIs from https://cloud-images.ubuntu.com/locator/ec2/
  default = "{{ {'us-east-1': 'ami-07cf43e1798df5582', 'ap-south-1': 'ami-04242e05c1ebface0'}[region] }}"
}

variable "dns_zone_id" {}
variable "dns_domain" {}
variable "internal_ssl_cert_arn" {}
variable "external_routes" {
  type = list
  default = []
}

variable "vpn_connections" {
  type = list
  default = []
}

variable "vpn_connection_routes" {
  type = list
  default = []
}

# Redis/ElastiCache variables
variable "redis" {
  type = map(string)
  default = {}
}

variable "rds_instances" {
  type = list
  default = []
}

variable "account_alias" {}

variable "key_name" {}
variable "servers" {
  type = list
  default = []
}

variable "proxy_servers" {
  type = list
  default = []
}
