{{ __proxy2__ }}
{{ __proxy3__ }}
{{ __proxy4__ }}

[proxy:children]
proxy2
proxy3
proxy4

{{ __web_a__ }}

{{ __web_b__ }}

[logproxy:children]
proxy

[hq_webworkers:children]
web_a

[mobile_webworkers:children]
web_b

[webworkers:children]
hq_webworkers
mobile_webworkers

{{ __pgbouncer3__ }} pgbouncer_processes=2
{{ __pgbouncer5__ }} pgbouncer_processes=2
{{ __pgbouncer6__ }} pgbouncer_processes=2
{{ __pgbouncer7__ }} pgbouncer_processes=2
{{ __pgbouncer8__ }} pgbouncer_processes=2
{{ __pgbouncer9__ }} pgbouncer_processes=2

{{ __rds_pgmain0__ }}

{{ __rds_pgformplayer0__ }}

{{ __rds_pgucr0__ }}

{{ __rds_pgshard1__ }}

{{ __rds_pgshard2__ }}

{{ __rds_pgshard3__ }}

{{ __rds_pgshard4__ }}

{{ __rds_pgshard5__ }}

{{ __rds_pgsynclog0__ }}

{{ __rds_pgauditcare0__ }}

{{ __pgformplayer_nlb__ }}

{{ __pgmain_nlb__ }}

{{ __pgucr_nlb__ }}

{{ __pgsynclogs_nlb__ }}

{{ __pgshard_nlb__ }}

{{ __couch_alb__ }}

[remote_postgresql:children]
rds_pgmain0
rds_pgformplayer0
rds_pgucr0
rds_pgshard1
rds_pgshard2
rds_pgshard3
rds_pgshard4
rds_pgshard5
rds_pgsynclog0
rds_pgauditcare0

[postgresql:children]
pgbouncer3
remote_postgresql

[pgbouncer:children]
pgbouncer3
pgbouncer5
pgbouncer6
pgbouncer7
pgbouncer8
pgbouncer9
pgformplayer_nlb
pgmain_nlb
pgucr_nlb
pgsynclogs_nlb
pgshard_nlb

[ansible_skip:children]
remote_postgresql
pgformplayer_nlb
pgmain_nlb
pgucr_nlb
pgsynclogs_nlb
pgshard_nlb
couch_alb

{{ __rabbit2__ }}
{{ __rabbit5__ }}

[rabbitmq:children]
rabbit2
rabbit5

[rabbitmq:vars]
swap_size=2G

{{ __kafka1__ }} kafka_broker_id=2
{{ __kafka2__ }} kafka_broker_id=3
{{ __kafka3__ }} kafka_broker_id=4

[zookeeper:children]
kafka1

[kafka:children]
kafka1
kafka2
kafka3

{{ __celery_a__ }}

[celery:children]
celery_a

[celery:vars]
swap_size=8G

{{ __pillow_a__ }}

[pillowtop:children]
pillow_a

{{ __formplayer_c__ }}

[formplayer:children]
formplayer_c

[formplayer:vars]
formplayer_efs_dns={{ aws_resources['formplayer-efs'] }}:/
cchq_uid=1025
cchq_gid=1026

[formplayer_debug:vars]
use_formplayer_debug_options=true

[formplayer_debug:children]
formplayer_c000
formplayer_c014

[formplayer_with_monit:vars]
use_monit_for_formplayer=true

[formplayer_with_monit:children]
formplayer_c014
formplayer_c023

[shared_efs_client_host:children]
celery
django_manage
proxy
pillowtop
webworkers

{{ __es_a__ }}

{{ __es_b__ }}

{{ __esmaster6__ }} elasticsearch_node_name=esmaster6

{{ __esmaster7__ }} elasticsearch_node_name=esmaster7

{{ __esmaster8__ }} elasticsearch_node_name=esmaster8

{{ __escoordinator1__ }} elasticsearch_node_name=escoordinator1 elasticsearch_node_zone=us-east-1a

{{ __escoordinator2__ }} elasticsearch_node_name=escoordinator2 elasticsearch_node_zone=us-east-1b

{{ __escoordinator3__ }} elasticsearch_node_name=escoordinator3 elasticsearch_node_zone=us-east-1c

[es_master:children]
esmaster6
esmaster7
esmaster8

[es_master:vars]
elasticsearch_master=true
elasticsearch_data=false

[es_data:children]
es_a
es_b

[es_a:vars]
elasticsearch_node_zone=us-east-1a

[es_b:vars]
elasticsearch_node_zone=us-east-1b


[elasticsearch:children]
es_master
es_data
es_coordinator

[es_coordinator:children]
escoordinator1
escoordinator2
escoordinator3

[es_coordinator:vars]
elasticsearch_master=false
elasticsearch_data=false

{{ __couch11__ }}
{{ __couch12__ }}
{{ __couch13__ }}

[couchdb2:children]
couch11
couch12
couch13
couch_alb

[couchdb2:vars]
swap_size=27G

[couchdb2_proxy:children]
couch_alb

[couchdb2_alb:children]
couch_alb

{{ __control2__ }}

[control:children]
control2

{{ __djangomanage2__ }}

[django_manage:children]
djangomanage2
