{% for queue_names, celery_params in app_processes_config.celery_processes.get(inventory_hostname).items() | sort %}
{% for worker_num in range(celery_params.num_workers) %}

{% if queue_names not in ("flower", "beat") %}
[program:{{ project }}-{{ deploy_env }}-celery_{{ queue_names }}_{{worker_num}}]
environment={% for name, value in item.env_vars.items() %}{% if value %}{{ name }}="{{ value }}",{% endif %}{% endfor %}

command=/bin/bash {{ service_home }}/{{ deploy_env }}_celery_bash_runner{% if celery_params.optimize %}_optimized{% endif %}.sh
    --events --loglevel=INFO --without-gossip
    --queues={{ queue_names }}
    --hostname={{ inventory_hostname }}_{{ queue_names }}_{{ worker_num }} {% if celery_params.pooling == 'prefork' %} --autoscale={{ celery_params.concurrency }},0 -Ofair {% if celery_params.max_tasks_per_child %}--maxtasksperchild={{ celery_params.max_tasks_per_child }}{% endif %}{% endif %}{% if celery_params.pooling == 'gevent' %} -P gevent --concurrency={{ celery_params.concurrency }}{% endif %}
    --prefetch-multiplier={{ celery_params.prefetch_multiplier }}

directory={{ code_home }}
user={{ cchq_user }}
numprocs=1
autostart=true
autorestart=true
stopasgroup=false
killasgroup=false
stdout_logfile={{ log_home }}/celery_{{ queue_names }}_{{ worker_num }}.log
redirect_stderr=true
stderr_logfile={{ log_home }}/celery_{{ queue_names }}_{{ worker_num }}.error.log
startsecs=10
; shutdown only waits for the bash runner to exit
stopwaitsecs = 30

{% endif %}
{% endfor %}
{% endfor %}
