{{ __control0__ }}
{{ __djangomanage1__ }}
{{ __web2__ }}
{{ __web3__ }}
{{ __celery4__ }} swap_size=4G
{{ __celery5__ }} swap_size=4G
{{ __celery6__ }} swap_size=4G
{{ __couch5__ }} swap_size=8G
{{ __couch8__ }} swap_size=8G
{{ __couch9__ }} swap_size=8G
{{ __esmaster2__ }} elasticsearch_node_name=esmaster2 elasticsearch_node_zone=ap-south-1b
{{ __esmaster3__ }} elasticsearch_node_name=esmaster3 elasticsearch_node_zone=ap-south-1b
{{ __esmaster4__ }} elasticsearch_node_name=esmaster4 elasticsearch_node_zone=ap-south-1a
{{ __es0__ }} elasticsearch_node_name=es0 elasticsearch_node_zone=ap-south-1a
{{ __es2__ }} elasticsearch_node_name=es2 elasticsearch_node_zone=ap-south-1b
{{ __escoordinator1__ }} elasticsearch_node_name=escoordinator1 elasticsearch_node_zone=ap-south-1a
{{ __escoordinator2__ }} elasticsearch_node_name=escoordinator2 elasticsearch_node_zone=ap-south-1b
{{ __escoordinator3__ }} elasticsearch_node_name=escoordinator3 elasticsearch_node_zone=ap-south-1c

[es_master:children]
esmaster2
esmaster3
esmaster4

[es_master:vars]
elasticsearch_master=true
elasticsearch_data=false

[es_data:children]
es0
es2

[elasticsearch:children]
es_master
es_data
es_coordinator

[es_coordinator:children]
escoordinator1
escoordinator2
escoordinator3

[es_coordinator:vars]
elasticsearch_master=false
elasticsearch_data=false

{{ __formplayer1__ }}
{{ __pillow3__ }}
{{ __kafka1__ }} kafka_broker_id=0
{{ __rabbit2__ }}
{{ __pgbouncer0__ }}
{{ __pgbouncer1__ }} pgbouncer_processes=2
{{ __pgbouncer2__ }} pgbouncer_processes=2
{{ __proxy2__ }}
{{ __rds_pgmain0__ }}
{{ __pgformplayer_nlb__ }}
{{ __pgmain_nlb__ }}
{{ __pgucr_nlb__ }}
{{ __pgsynclogs_nlb__ }}
{{ __pgshard_nlb__ }}
{{ __couch_alb__ }}


[pg_standby:children]
# empty

[proxy:children]
proxy2

[logproxy:children]
proxy2

[webworkers:children]
web2
web3

[postgresql:children]
remote_postgresql
pgbouncer0

[pgbouncer:children]
pgbouncer1
pgbouncer2
pgformplayer_nlb
pgmain_nlb
pgucr_nlb
pgsynclogs_nlb
pgshard_nlb

[rabbitmq:children]
kafka1
rabbit2

[zookeeper:children]
kafka1

[kafka:children]
kafka1

[celery:children]
celery4
celery5
celery6

[pillowtop:children]
pillow3

[formplayer:children]
formplayer1

[elasticsearch:children]
es0
es2

[shared_efs_client_host:children]
celery
django_manage
proxy
pillowtop
webworkers

[couchdb2:children]
couch5
couch8
couch9
couch_alb

[couchdb2_proxy:children]
couch_alb

[couchdb2_alb:children]
couch_alb

[control:children]
control0

[django_manage:children]
djangomanage1

[remote_postgresql:children]
rds_pgmain0

[ansible_skip:children]
remote_postgresql
pgformplayer_nlb
pgmain_nlb
pgucr_nlb
pgsynclogs_nlb
pgshard_nlb
couch_alb
